.vex.vex-theme-wireframe .vex-dialog-form .vex-dialog-message {
  font-family: _font(heading, family);
  font-size: 1.5em;
}

.vex-dialog-input {
  input {
    width: 100%;
    margin-bottom: .3em;
    border: 2px solid #000;
    padding: .3em;
  }
}