include _common/_mixins
doctype html
html
	include _common/_head
	body
		block content
		// build:js js/plugins.main.min.js
		script(src='../../bower_components/jquery/dist/jquery.js')
		// endbuild
		script(src='http://connect.facebook.net/en_US/sdk.js')
		script(src='js/app.min.js')