.flex-container {
    @include display(flex);
    @include flex-flow(row wrap);
    @include justify-content(center);
    @include align-items(stretch);
    @include align-content(stretch);
}

.flex-container > .flex-child {
 	@include flex(1 1 50%);
}

.qz__container {
	font: normal 16px/19px "PT Sans", Arial, sans-serif;
	width: 100%;
	max-width: 1000px;
	overflow: hidden;
}

.qz-opener {
	background-color: lighten(#000, 10%);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #fff;
	height: 300px;

	display: none;

	&.active {
		display: flex;
	}

	h1 {
		font-size: 30px;
		text-align: center;
		max-width: 90%;
	}
}

.qz-result {
	background-color: lighten(#000, 10%);
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #fff;
	height: 300px;

	p {
		padding: 0 0 10px 0;
		margin: 0;
	}

	display: none;

	&.active {
		display: flex;
	}

	h1 {
		font-size: 30px;
		text-align: center;
		max-width: 90%;
	}
}

.qz-question {
	max-width: 1000px;
	box-sizing: border-box;
	margin: 0;
	display: none;
	&.active {
		display: block;
	}
}

.qz-question * {
	box-sizing: border-box;
}

.qz-question-title {
	color: #fff;
	position: relative;
	min-height: 250px;
	display: flex;
	align-items: center;
	align-content: center;
}

.qz-question-title:before {
	content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
}

.qz-bg_01 .qz-question-title, .qz-bg_02 .qz-question-title, .qz-bg_03 .qz-question-title, .qz-bg_04 .qz-question-title {
	@include background-image(url("http://www.klerk.ru/img/pb/original/puzzle1487340i1280_8508.jpg"));
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.qz-question-number {
	position: absolute;
	display: block;
	font-size: .8em;
	width: 50px;
	left: 50%;
	top: 10px;
}

.qz-question-text {
	display: block;
	font-size: 30px;
	font-weight: bold;
	max-width: 90%;
	margin: 0 auto;
	line-height: 100%;
	text-align: center;
	position: relative;
}

.qz-question-answers {
	position: relative;
	background: #EEEFF1;
	@include padding(1em);
}

.qz-question-answers ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.qz-question-answers li {
	margin: 0 0 10px;
	padding: 0;
	list-style: none;
}

.qz-correct {
	background: #3e8f3e;
	color: #f1f1f1;
}

.qz-incorrect {
	background: #8b211e;
	color: #f1f1f1;
}

.qz-correct-missing {
	border: 2px dotted #3e8f3e;
}