.flex-container {
    @include display(flex);
    @include flex-flow(row wrap);
    @include justify-content(center);
    @include align-items(stretch);
    @include align-content(stretch);
}

.flex-container > .flex-child {
 	@include flex(1 1 50%);
}

.qz__container {
	font: normal 16px/19px "PT Sans", Arial, sans-serif;
	width: 100%;
	max-width: 1000px;
	overflow: hidden;
}

.qz-opener {
	background-color: lighten(#000, 10%);
	background-position: center center;
	background-repeat: no-repeat;
    background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #fff;
	min-height: 300px;
	padding: 10px 0;
	position: relative;
	display: none;

	&.active {
		display: flex;
	}

	h1 {
		font-size: 30px;
		line-height: 30px;
		text-align: center;
		max-width: 90%;
		position: relative;
	}

	p {
		max-width: 90%;
		margin: 0 0 12px;
		position: relative;
		width: 100%;
	}

	a {
		color: #fff;
	}

	a:hover {
		color: #efefef;
	}
}

.qz-opener:before {
	content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
}

.qz-result {
	background-color: lighten(#000, 10%);
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #fff;
	height: 300px;
	padding: 10px 0;
	position: relative;

	p {
		padding: 0 10% 10px;
		margin: 0;
	}

	display: none;

	&.active {
		display: flex;
	}

	h1 {
		font-size: 30px;
		line-height: 30px;
		text-align: center;
		padding: 0 5%;
	}

	.qz-result-pic {
		object-fit: cover;
	}

	.qz-result-text {
		position: relative;
		display: table;
		text-align: center;
	}
}

.qz-result-pic {
	display: block;
}

.qz-result-pic-wrap {
	position: absolute;
	top: 0;
	left: 0;
}

.qz-result-pic-wrap:before {
	content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
}

.qz-question {
	max-width: 1000px;
	box-sizing: border-box;
	margin: 0;
	display: none;
	&.active {
		display: block;
	}
}

.qz-question * {
	box-sizing: border-box;
}

.qz-question-title {
	color: #fff;
	position: relative;
	height: 350px;
	padding: 10px 0;
	display: flex;
	align-items: center;
	align-content: center;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.qz-question-title:before {
	content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
}

.qz-question-number {
	position: absolute;
	display: block;
	font-size: .8em;
	width: 50px;
	left: 50%;
	top: 10px;
	margin-left: -15px;
}

.qz-question-text {
	display: block;
	font-size: 30px;
	font-weight: bold;
	max-width: 90%;
	margin: 20px auto 10px;
	line-height: 100%;
	text-align: center;
	position: relative;
}

.qz-question-answers {
	position: relative;
}

.qz-question-answers ul {
	@include margin(0 0 10px);
	padding: 0;
	list-style: none;
}

.qz-question-answers li {
	margin: 0;
	@include padding(10px 0);
	list-style: none;
	border-bottom: 1px #e6e6e6 solid;
}

.qz-correct {
	color: #149214;
}

.qz-incorrect {
	color: #ce1914;
}

.qz-correct-missing {
	color: #149214;	
}

@media only screen and (max-width: 768px) {
.qz-result h1, .qz-opener h1, .qz-question-text {
	font-size: 22px;
	line-height: 24px;
	}
}