.tabs-block {
  position: relative;
  overflow: hidden;
  width: 100%;
  color: _palette(neutrals, dark);
}

.tabs-block__list {
  @include clearfix;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  overflow: hidden;

  li {
    position: relative;
    float: left;
    overflow: hidden;

    border: 1px solid rgba(_palette(neutrals, x-light), .4);

    &:first-child {
      @include border-left-radius(5px);
      border-right: hidden;
    }
    &:last-child {
      @include border-right-radius(5px);
      border-left: hidden;
    }
    &.tabs-block__link_active {
      a {
        background-color: _palette(base, primary);
        color: _palette(neutrals, x-light);
      }
    }
  }

  a {
    display: block;
    padding: .4em 1em;
    text-shadow: 0 1px 1px _palette(neutrals, x-dark);
    background-color: rgba(_palette(neutrals, x-dark), .6);
    border: none;
    color: _palette(neutrals, x-light);
    @include transition(all 0.3s ease-in-out);
  }
}
.tabs-block__cont {
  display: none;
  margin-top: 2em;
  &.active {
    display: block;
  }
}

.tabs-block__data {
  border-radius: 5px;
  border: 1px solid rgba(_palette(neutrals, x-light), .4);
  padding: .5em;
  color: _palette(neutrals, x-light);
  font-size: .9em;
  line-height: 140%;

  @include transition(all 300ms ease-in-out);

  &:hover {
    background-color: rgba(_palette(neutrals, x-dark), .5);
    border: 1px solid rgba(_palette(neutrals, x-light), .7);

    .data__button {
      background-color: _palette(base, primary);
    }
  }

  h3 {
    font-size: 1.3em;
    line-height: 150%;
    margin: 0;
    text-align: center;
    border-bottom: 1px solid rgba(_palette(neutrals, x-light), .4);
  }

  ul {
    li {
      line-height: 130%;
      margin-bottom: 1em;
    }
  }
}

.data__button {
  display: block;
  text-align: center;
  background-color: rgba(_palette(neutrals, x-light), .2);
  border: 1px solid rgba(_palette(neutrals, x-light), .4);
  border-radius: 3px;
  padding: .5em;
  color: _palette(neutrals, x-light);
  @include transition(all 300ms ease-in-out);
}