extends ../main

block title
  | keen builder main page

block content
  section
    .qz__container#quiz__container

      .qz-opener.active
        h1 Название теста
        button.qz-button.qz-button-start(type="button") Начать тест

      .qz-question.qz-bg_01
        .qz-question-title
          span.qz-question-number 1/10
          span.qz-question-text В период первобытнообщинного строя горшки лепили из глины, песка и:
        .qz-question-answers
          ul.flex-container
            li.flex-child
              div.qz-answer-button.qz-radio
                input(type="radio", name="q1", value="answer-a", id="q1_a")
                label(for="q1_a") Извести
            li.flex-child
              div.qz-answer-button.qz-radio
                input(type="radio", name="q1", value="answer-b", id="q1_b")
                label(for="q1_b") Цемента
          button.qz-button.qz-button-check(type="button") ответ
      .qz-question.qz-bg_02
        .qz-question-title
          span.qz-question-number 2/10
          span.qz-question-text Первым существом, появившимся на свет, по китайской мифологии, был:
        .qz-question-answers
          ul.flex-container
            li.flex-child
              div.qz-answer-button.qz-checkbox
                input(type="checkbox", name="q2", value="a", id="q2_a")
                label(for="q2_a") Паньгу
            li.flex-child
              div.qz-answer-button.qz-checkbox
                input(type="checkbox", name="q2", value="b", id="q2_b")
                label(for="q2_b") Нюйва
            li.flex-child
              div.qz-answer-button.qz-checkbox
                input(type="checkbox", name="q2", value="c", id="q2_c")
                label(for="q2_c") Фуси
            li.flex-child
              div.qz-answer-button.qz-checkbox
                input(type="checkbox", name="q2", value="d", id="q2_d")
                label(for="q2_d") Другой другой другой другой другой другой другой другой другой другой другой
          button.qz-button.qz-button-check(type="button") ответ
      .qz-question.qz-bg_03
        .qz-question-title
          span.qz-question-number 3/10
          span.qz-question-text Длинный длинный длинный длинный длинный длинный длинный длинный длинный длинный длинный длинный длинный длинный длинный длинный длинный длинный длинный длинный длинный длинный длинный длинный длинный вопрос
        .qz-question-answers
          ul.flex-container
            li.flex-child
              div.qz-answer-button.qz-checkbox
                input(type="checkbox", name="q3", value="a", id="q3_a")
                label(for="q3_a") Длинный длинный длинный длинный длинный длинный длинный длинный длинный длинный ответ 1
            li.flex-child
              div.qz-answer-button.qz-checkbox
                input(type="checkbox", name="q3", value="b", id="q3_b")
                label(for="q3_b") Ответ 2
            li.flex-child
              div.qz-answer-button.qz-checkbox
                input(type="checkbox", name="q3", value="c", id="q3_c")
                label(for="q3_c") Длинный длинный длинный длинный длинный длинный Длинныйдлинный длинный длинный ответ 3
          button.qz-button.qz-button-check(type="button") ответ
      .qz-question.qz-bg_04
        .qz-question-title
          span.qz-question-number 4/10
          span.qz-question-text Длинный длинный длинный длинный длинный длинный длинный длинный длинный длинный длинный длинный длинный длинный длинный длинный длинный длинный длинный длинный длинный длинный длинный длинный длинный вопрос
        .qz-question-answers
          ul.flex-container
            li.flex-child
              div.qz-answer-button.qz-checkbox
                input(type="checkbox", name="q4", value="a", id="q4_a")
                label(for="q4_a") Длинный длинный длинный длинный ответ 1
          button.qz-button.qz-button-check(type="button") ответ
      //button(type="button", id="kquiz__score-button") Check Score