$qz-color-correct: #4CAF50;
$qz-color-incorrect: darken(#b32d2d, 5%);


.flex-container {
    @include display(flex);
    @include flex-flow(row wrap);
    @include justify-content(center);
    @include align-items(stretch);
    @include align-content(stretch);
}

.flex-container > .flex-child {
 	@include flex(1 1 50%);
}

.qz__container {
	font: normal 16px/19px "PT Sans", Arial, sans-serif;
	width: 100%;
	max-width: 1000px;
	overflow: hidden;
}

.qz-opener {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
}

.qz-cover {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 350px;
	box-sizing: border-box;
	color: #fff;
	padding: 10px 0;
	background-color: lighten(#000, 10%);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;

	-webkit-box-shadow: inset 0 0 0 100vw rgba(0,0,0,.6);
	-moz-box-shadow: inset 0 0 0 100vw rgba(0,0,0,.6);
	box-shadow: inset 0 0 0 100vw rgba(0,0,0,.6);

	h1 {
		font-size: 30px;
		line-height: 30px;
		text-align: center;
		max-width: 90%;
		position: relative;
	}

	p {
		max-width: 90%;
		margin: 0 0 12px;
		position: relative;
		width: 100%;
	}

	a {
		color: #fff;
	}

	a:hover {
		color: #efefef;
	}
}

.qz-result {
	background-color: lighten(#000, 10%);
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #fff;
	height: 350px;
	box-sizing: border-box;
	padding: 10px 0;
	position: relative;

	p {
		padding: 0 10% 10px;
		margin: 0;
	}

	&.active {
		display: flex;
	}

	h1 {
		font-size: 30px;
		line-height: 30px;
		text-align: center;
		padding: 0 5%;
	}

	.qz-result-pic {
		object-fit: cover;
	}

	.qz-result-text {
		position: relative;
		width: 100%;
		text-align: center;
	}
}

.qz-result-pic {
	display: block;
}

.qz-result-pic-wrap {
	position: absolute;
	top: 0;
	left: 0;
}

.qz-result-pic-wrap:before {
	content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
}

.qz-question {
	max-width: 1000px;
	box-sizing: border-box;
	margin: 0;
	&.active {
		display: block;
	}
}

.qz-question * {
	box-sizing: border-box;
}

.qz-question-header {
	color: #fff;
	position: relative;
	height: 350px;
	box-sizing: border-box;
	padding: 10px 0;
	display: flex;
	flex-direction: column;

	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;

	-webkit-box-shadow: inset 0 0 0 100vw rgba(0,0,0,.6);
	-moz-box-shadow: inset 0 0 0 100vw rgba(0,0,0,.6);
	box-shadow: inset 0 0 0 100vw rgba(0,0,0,.6);
}

.qz-question-title {
	color: white;
	display: block;
	text-align: center;
}

.qz-question-number {
	position: absolute;
	display: block;
	font-size: .8em;
	width: 50px;
	text-align: center;
	top: 25px;
	border: 1px solid rgba(255, 255, 255, 0.5);
}

.qz-question-text {
	display: block;
	font-size: 30px;
	font-weight: bold;
	max-width: 90%;
	margin: 20px auto 10px;
	line-height: 100%;
	text-align: center;
	position: relative;
}

.qz-question-answers {
	position: relative;
}

.qz-question-answers ul {
	@include margin(0 0 10px);
	padding: 0;
	list-style: none;
}

.qz-question-answers li {
	margin: 0;
	@include padding(10px 0);
	list-style: none;
	border-bottom: 1px #e6e6e6 solid;
}

.qz-checked {
	&.qz-checkbox {
		label {
			&:before {
				background-color: #373c4d;
			}
		}
	}
}

.qz-correct, .qz-correct-missing {
	color: $qz-color-correct;

	&.qz-radio, &.qz-checkbox {
		label {
			&:before {
				width: 26px;
				height: 26px;
				@include margin(-4px null null -4px);
				border-color: $qz-color-correct;
				background-color: transparent!important;
			}

			span {
				&:before, &:after {
					content: '';
					display: block;
					position: absolute;
					width: 2px;
					height: 12px;
					top: 50%;
					left: 50%;
					background-color: $qz-color-correct;
				}

				&:before {
					@include transform(rotate(45deg));
					margin: -6px 0 0 1px;
				}

				&:after {
					height: 6px;
					margin: -1px 0 0 -5px;
					@include transform(rotate(-45deg));
				}
			}
		}
	}
}



.qz-incorrect {
	color: #b32d2d;

	&.qz-radio, &.qz-checkbox {
		label {
			&:before {
				width: 26px;
				height: 26px;
				@include margin(-4px null null -4px);
				border-color: #b32d2d;
				background-color: transparent!important;
			}

			span {
				&:before, &:after {

					content: '';
					display: block;
					position: absolute;
					width: 2px;
					height: 14px;
					top: 50%;
					left: 50%;
					background-color: #b32d2d;
				}

				&:before {
					@include transform(rotate(45deg));
					margin: -7px 0 0 -1px;
				}

				&:after {
					margin: -7px 0 0 -1px;
					@include transform(rotate(-45deg));
				}
			}
		}
	}
}

.qz-skip {
	opacity: .3;
	&:hover {
		label:before {
			border-width: 2px;
		}
	}
}

.qz-correct, .qz-incorrect, .qz-correct-missing, .qz-else {
	&:hover {
		label:before {
			border-width: 2px;
		}
	}
}

.qz-correct-missing {
	color: $qz-color-correct;

	&.qz-radio, &.qz-checkbox {
		label:before {
			width: 26px;
			height: 26px;
			@include margin(-4px null null -4px);
			border-color: $qz-color-correct;
		}
	}

	&.qz-checkbox label {
		&:before {
			border-style: dotted;
		}
	}
}

.qz-hint {
	margin: 5px 0 5px 40px;
	font-size: .85em;
}

.qz-question-number {
	.spacer {
		opacity: .3;
	}
}

.qz-question-warning {
	font-style: italic;
	font-size: .85em;
	position: relative;

	&:before {
		position: absolute;
		content: '';
		height: 2px;
		background-color: rgba(255, 255, 255, .5);
		width: 40px;
		left: 50%;
		margin-left: -20px;
		top: -5px;
	}
}

@media only screen and (max-width: 768px) {
.qz-result h1, .qz-opener h1, .qz-question-text {
	font-size: 22px;
	line-height: 24px;
	}
}