include _common/_mixins
doctype html
html
	include _common/_head
	body
		block content
		//script(src='http://connect.facebook.net/en_US/sdk.js')
		script(src='js/bundle.js')
		script(src='js/main.js')