extends ../main

block title
  | keen builder main page

block content
  section
    #widgets
      quiz-widget(contents='{"title":"Quiz title","introtext":"Some intro text...","article":"Some sample article content with <b>Html inside<\/b>","image":"http://lorempixel.com/800/600/business","questions":[{"title":"Question 1","text":"Question 1 text","image":"http://lorempixel.com/800/600/business","responses":[{"text":"Right.","correct":true,"hint":{"missing":"How did yoy forget!","correct":"Wow, you are awesome!"}},{"text":"Not even close...","hint":{"error":"You gotta be kidding me!"}}]},{"title":"Question 2","text":"Question 2 text","image":"http://lorempixel.com/800/600/business","responses":[{"text":"Right.","correct":true},{"text":"Wrong one"},{"text":"Right also!","correct":true},{"text":"Naa-a"}]},{"title":"Question 3","text":"Question 3 text","image":"http://lorempixel.com/800/600/business","responses":[{"text":"Wrong, too bad."},{"text":"Right!","correct":true}]}],"results":[{"entry":0,"title":"Your score is very low","text":"Try another day","image":"http://lorempixel.com/800/600/business","shareImage":"http://lorempixel.com/800/600/business"},{"entry":2,"title":"Your score is ok","text":"Nothing to worry about","image":"http://lorempixel.com/800/600/business","shareImage":"http://lorempixel.com/800/600/business"},{"entry":3,"title":"Your score is perfect","text":"P-E-R-F-E-C-T","image":"http://lorempixel.com/800/600/business","shareImage":"http://lorempixel.com/800/600/business"}]}')

