header.headroom
    div.header__container
        div.header__logo
            svg(viewBox="0 0 120 16")
                use(xlink:href="svg/symbol/svg/sprite.symbol.svg#logo")
        nav.header__nav(role="navigation")
            ul
                block nav

        div.header__side-nav
            span.header__tel
            a#header-cta.button записаться на пробное занятие