.tabs-block
  ul.tabs-block__list
    li.tabs-block__item.tabs-block__link_active
      a.tabs-block__link(href="#") Образовательный курс
    li.tabs-block__item
      a.tabs-block__link(href="#") Индивидуальные занятия
  .tabs-block__contents
    .tabs-block__cont.active
      .row
        .col-md-8.offset-md-2
          .row
            .col-md-4
              .tabs-block__data
                h3 Начальный
                ul
                  li 4 занятия по специальности
                  li 2 занятия по теории музыки
                  li 2 занятие по сценическому мастерству
                a.data__button(href='#') Узнать стоимость
            .col-md-4
              .tabs-block__data
                h3 Базовый
                ul
                  li 6 занятия по специальности
                  li 2 занятия по теории музыки
                  li 2 занятие по сценическому мастерству
                a.data__button(href='#') Узнать стоимость
            .col-md-4
              .tabs-block__data
                h3 Интенсивный
                ul
                  li 8 занятия по специальности
                  li 4 занятия по теории музыки
                  li 2 занятие по сценическому мастерству
                a.data__button(href='#') Узнать стоимость
    .tabs-block__cont
      .row
        .col-md-8.offset-md-2
          .row
            .col-md-4
              .tabs-block__data
                h3 Начальный
                ul
                  li 4 занятия по специальности
                  li 2 занятия по теории музыки
                  li 2 занятие по сценическому мастерству
                a.data__button(href='#') Узнать стоимость
            .col-md-4
              .tabs-block__data
                h3 Базовый
                ul
                  li 6 занятия по специальности
                  li 2 занятия по теории музыки
                  li 2 занятие по сценическому мастерству
                a.data__button(href='#') Узнать стоимость
            .col-md-4
              .tabs-block__data
                h3 Интенсивный
                ul
                  li 8 занятия по специальности
                  li 4 занятия по теории музыки
                  li 2 занятие по сценическому мастерству
                a.data__button(href='#') Узнать стоимость