section.offset-top
	div#interior-swiper.swiper-container
		.swiper-wrapper
			.swiper-slide
				img(src="images/interior/interior-1.jpg")
			.swiper-slide
				img(src="images/interior/interior-2.jpg")
			.swiper-slide
				img(src="images/interior/interior-3.jpg")
			.swiper-slide
				img(src="images/interior/interior-4.jpg")
			.swiper-slide
				img(src="images/interior/interior-5.jpg")